version: '3'
services:
  jupyter:
    image: jupyter/minimal-notebook
    volumes:
      - .:/home/jovyan/work
    ports:
      - 8888:8888

    environment:
      - DOCKER=congrats_you_are_inside_a_docker_container
